html, body {
    height: 100%;
    width: 100%;
}

#StartScreen {
    color: black;
    background-color: darkgray;
    text-align: center;
}

.loader {
    transform: translateX(50%) translateY(50%);
    height: 100px;
    width: 100px;
    background: rgba(255, 255, 255, 0) url('/gif/loadingCircle.gif') 50% 50% no-repeat;
}

.btn {
    color: black;
    background-color: darkorange;
    font-weight: bolder;
    min-width: 10%;
}